<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>StudentRegistrationServlet</servlet-name>
        <servlet-class>slmo.registration.Servlet.StudentRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailConfirmation</servlet-name>
        <servlet-class>slmo.registration.Servlet.EmailConfirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchoolModifyServlet</servlet-name>
        <servlet-class>slmo.registration.Servlet.SchoolModifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactFormServlet</servlet-name>
        <servlet-class>slmo.registration.Servlet.ContactFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchoolRegistrationServlet</servlet-name>
        <servlet-class>slmo.registration.Servlet.SchoolRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchoolLoginServlet</servlet-name>
        <servlet-class>slmo.registration.Servlet.SchoolLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>slmo.registration.Servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSchoolManualServlet</servlet-name>
        <servlet-class>slmo.registration.Servlet.AddSchoolManualServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAnswerScript</servlet-name>
        <servlet-class>ReportGeneration.GetAnswerScript</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultSheetDA</servlet-name>
        <servlet-class>slmo.registration.dao.ResultSheetDA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SchoolRegistrationServlet</servlet-name>
        <url-pattern>/SchoolRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailConfirmation</servlet-name>
        <url-pattern>/EmailConfirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactFormServlet</servlet-name>
        <url-pattern>/ContactFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchoolModifyServlet</servlet-name>
        <url-pattern>/SchoolModifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegistrationServlet</servlet-name>
        <url-pattern>/StudentRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchoolLoginServlet</servlet-name>
        <url-pattern>/SchoolLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSchoolManualServlet</servlet-name>
        <url-pattern>/AddSchoolManualServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAnswerScript</servlet-name>
        <url-pattern>/GetAnswerScript</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultSheetDA</servlet-name>
        <url-pattern>/ResultSheetDA</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
