@import url(http://fonts.googleapis.com/css?family=Abel|Satisfy);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

/*********************************************************************************/
/* Global                                                                        */
/*********************************************************************************/

html, body {
	height: 100%;
}

body {
	margin: 0em;
	padding: 0em;
	background: #202020 url(images/img01.jpg) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #525252;
}

h1, h2, h3 {
	margin: 0em;
	padding: 0em;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

p {
	line-height: 170%;
}

a {
	color: #43A4D3;
}

strong {
	font-weight: 700;
	color: #2A2A2A;
}

/* Copyright */

#copyright {
	overflow: hidden;
	padding: 1em 0em;
	border-top: 2px solid #303030;
	text-align: center;
}

#copyright p {
	font-family: 'Abel', sans-serif;
	font-size: 1.125em;
	color: #6A6A6A;
}

/* Button Style */

.button-style a {
	display: block;
	width: 11.250em;
	height: 2.40em;
	margin-top: 1.875em;
	background: url(images/img03.jpg) repeat;
	line-height: 3.125em;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-size: 1.125em;
	font-weight: 200;
	color: #FFFFFF;
}
	.button-style:hover {
		font-size:1.13em;
	}

/* Button Style 2 */

.button-style2 a {
	display: inline-block;
	height: 2.60em;
	margin-top: 1.25em;
	padding: 0em 1.25em 0em 1.25em;
	background: url(images/button-tail.gif);
	border-radius: 15px;
	line-height: 2.60em;
	text-decoration: none;
	font-size: 1em;
	color: #FFFFFF;
}
	.button-style2 :hover {
		font-size:1.01em;
	}

/* Button Style small */

.button-small a {
	alignment-adjust:middle;
	margin-top: 1.25em;
	padding: 0em 1.35em 0em 1.35em;
	background: url(images/button-tail.gif);
	border-radius: 10px;
	line-height: 2.60em;
	text-decoration: none;
	font-size: 1em;
	color: #FFFFFF;
}
	.button-small:hover {
		font-size:1.05em;
	}

.button {
	display:inline-block;
	font-size:14px;
	line-height:20px;
	padding:4px 14px 3px 14px;
	color:#fff;
	text-decoration:none;
	background:url(images/button-tail.gif) repeat-x 0 0 #2779b1;
	text-shadow:1px 1px #2779b1;
	border-radius:20px;
}
	.button:hover {
		background:url(images/button-tail.gif) repeat-x 0 bottom #6eb8eb;
	}

/* Grid style */

.grid-style a {
	display: inline-block;
	height:150px;
	width:100px;
	margin-top: 1.25em;
	padding: 0em 2.25em 0em 1.25em;
	border-radius: 15px;
	line-height: 2.60em;
	text-decoration: none;
	font-size: 1em;
	color: #FFFFFF;
}


/** LIST STYLE 1 */

ul.style1 {
	margin: 0em;
	list-style: none;
}

ul.style1 li {
	padding: 0.94em 0em;
	border-top: 1px solid #E6E6E6;
}

ul.style1 a {
	display: block;
	padding: 0em 0em 0em 1.87em;
	background: url(images/img10.png) no-repeat left top;
	text-decoration: none;
	color: #525252;
}

ul.style1 a:hover {
	text-decoration: underline;
}

ul.style1 .first {
	border-top: 0;
}

/** LIST STYLE 2 */

ul.style2 {
	margin: 0em;
	padding: 0em;
	list-style: none;
}

ul.style2 li {
	padding: 1.25em 0em 2.5em 0em;
	border-top: 1px solid #E6E6E6;
}

ul.style2 a {
	text-decoration: none;
	color: #525252;
}

ul.style2 a:hover {
	text-decoration: underline;
}

ul.style2 .date {
	display: inline-block;
	margin: 0em 0em 1.56em 0em;
	padding: 0.35em 0.63em;
	border-radius: 5px;
	letter-spacing: 0.06em;
	line-height: none;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	color: #FFFFFF;
}

ul.style2 .date a {
	color: #FFFFFF;
}

ul.style2 img {
	float: left;
	margin-right: 1.5em;
}

ul.style2 .first {
	border-top: 0;
}

/** LIST STYLE 3 */

ul.style3 {
	margin: 0em;
	padding: 0em;
	list-style: none;
}

ul.style3 li {
	padding: 1.25em 0em 1.56em 0em;
}

ul.style3 a {
	display: block;
	text-decoration: none;
	color: #C18062;
}

ul.style3 a:hover {
	text-decoration: underline;
}

ul.style3 .date {
}

ul.style3 .date b {
}

ul.style3 .date a {
	color: #FFFFFF;
}

ul.style3 .date a:hover {
	text-decoration: none;
}

ul.style3 .first {
	padding-top: 0em;
	background: none;
}

/** LIST STYLE 4 */

ul.style4 {
	margin: 0em;
	padding: 0em;
	list-style: none;
}

ul.style4 li {
	padding: 0.94em 0em 0.94em 0em;
	border-top: 1px solid #742F0E;
}

ul.style4 a {
	display: block;
	padding: 0em 0em 0em 1.87em;
	background: url(images/img10.png) no-repeat left top;
	text-decoration: none;
	color: #C18062;
}

ul.style4 a:hover {
	text-decoration: underline;
}

ul.style4 li {
	border-top: 0;
}

/** LIST STYLE 5 */

ul.style5 {
	overflow: hidden;
	margin: 0em 0em 1em 0em;
	padding: 0em;
	list-style: none;
}

ul.style5 li {
	float: left;
	padding: 0.25em 0.25em;
	line-height: 0;
}

ul.style5 a {
}



/** LIST STYLE 6 */

ul.style6 {
	margin: 0em;
	padding: 0em;
	list-style: none;
}


ul.style6 h3 {
	margin: 0em;
	padding: 0em 0em 0.63em 0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #A0A09F;
}

ul.style6 p {
	font-style: italic;
	font-size: 0.87em;
}

ul.style6 li {
	padding: 1.25em 0em 1.25em 0em;
	border-top: 1px solid #303030;
	line-height: 170%;
}

ul.style6 a {
	display: block;
	padding: 0em;
	text-decoration: none;
	color: #737373;
}

ul.style6 a:hover {
	text-decoration: underline;
}

ul.style6 .first {
	padding-top: 0em;
	border-top: 0;
}

/**Copied*/

.button-box {
	display:inline-block;
	background:url(images/button-box-tail.gif) repeat-x 0 0;
	border-radius:6px;
	padding:5px 6px 0 6px;
	margin:0 0 -16px 0;
}
.btn-container {
	position:absolute;
	bottom:-6px;
	left:0;
	right:0;
	text-align:center;
}
.box-2 {
	background:url(images/body-bg.gif);
	border-radius:6px;
	box-shadow:1px 1px 0 0 #fff;
	border:1px solid #d8d8d8;
	padding:19px 25px 29px 38px;
}
/*----- indents -----*/
.img-indent {
	float:left;
	margin:0 10px 0 0;
}
.img-indent-1 {
	float:left;
	margin:0 10px 12px 0;
}
.img-indent-bot {margin:0 0 14px 0;}

	
.social-list {
	float:right;
	border-radius:4px;
	background:url(images/social-list-bg.png);
	padding:5px 4px;
}
	.social-list li {
		display:inline-block;
		width:17px;
		height:17px;
		padding:0 1px;
	}
	.social-list li a {
		display:block;
	}
	.social-list li a:hover img {
		opacity:0.5;
	}

.para {
	font-family: 'Abel', sans-serif;
	font-size: 1.25em;
	color: #2C2C2C;
}

/* ============================= forms ============================= */
#ContactForm {margin-top:-2px}
#ContactForm .wrapper {overflow:inherit;min-height:40px;line-height:26px}
#ContactForm .textarea_box {min-height:40px}
#ContactForm  span {float:left;width:120px}
#ContactForm a {margin-left:15px;float:right;width:124px;padding:0;text-align:center}
#ContactForm .input  {margin:0;width:300px;height:28px;background:none;padding:4px 10px;color:#000;font:14px Arial, Helvetica, sans-serif}
#ContactForm textarea  {overflow:auto;width:700px;height:100px;background:none;padding:4px 10px;color:#000;font:14px Arial, Helvetica, sans-serif;margin:0}
#ContactForm  .bg {background:#fff; position:relative;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;float:left}

/*===========================Student Data==========================*/
.StudentData {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.StudentData table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.StudentData tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.StudentData table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.StudentData table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.StudentData tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.StudentData tr:hover td{
	
}
.StudentData tr:nth-child(odd){ background-color:#aad4ff; }
.StudentData tr:nth-child(even)    { background-color:#ffffff; }.StudentData td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.StudentData tr:last-child td{
	border-width:0px 1px 0px 0px;
}.StudentData tr td:last-child{
	border-width:0px 0px 1px 0px;
}.StudentData tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.StudentData tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.StudentData tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.StudentData tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.StudentData tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}